/* common.css == header, footer 공통영역 Design */
/* header */
header {
    /* max-width:1240px; */
    padding:0 100px;
    margin:0 auto;
    background:#fff;
    border-bottom:1px solid #c7c7c7;
}
header #nav {
    /* background: aqua; */
    height:70px;
    display: flex; justify-content: space-between;
    /* line-height:70px; */
    align-items: center; 
}
header #nav .n_logo {}
header #nav .n_logo h1 {width:160px;}
header #nav .n_logo h1 a {}
header #nav .n_logo h1 a img {width:100%;}
header #nav .gnb {}
header #nav .gnb .gnb_wrap {
    background: lime;
    display: flex; position: relative;
}
header #nav .gnb .gnb_wrap > .gnb_list {}
header #nav .gnb .gnb_wrap > .gnb_list > a {
    margin-right:50px; 
    display:block; padding:10px;
}
header #nav .gnb .gnb_wrap > .gnb_list > a:last-child {margin-right:0;}
header #nav .gnb .gnb_wrap > .gnb_list > .sub {
    /* background: orange; */
    position:absolute; width:max-content;
    justify-content: flex-start;
    background:#eee; height:490px;
    top:55px;
    display:flex; 
    /* flex-flow: row nowrap;
    justify-content: space-between; */
}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap {
    display: flex; flex-flow:row nowrap;
    justify-content: space-between;
}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap > .sub_list {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap > .sub_list > a {
    margin-right:80px;
}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap > .sub_list > .sub2 {background:pink;}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap > .sub_list > .sub2 > .sub2_wrap {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap > .sub_list > .sub2 > .sub2_wrap > .sub2_list {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_wrap > .sub_list > .sub2 > .sub2_wrap > .sub2_list > a {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo {
    display:flex; flex-flow:column nowrap;
}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo > .photo_top {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo > .photo_top img {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo > .photo_top p {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo > .photo_btm {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo > .photo_btm img {}
header #nav .gnb .gnb_wrap > .gnb_list > .sub > .sub_photo > .photo_btm p {}
header .nav_right {
    background: yellow;
    display: flex; align-items: center;
}
header .nav_right #map {}
header .nav_right #map span {}
header .nav_right #search {margin-left:30px; width:24px; height:24px;}
header .nav_right #search img {width:100%;}