/* common.css == header, footer 공통영역 Design */
/* header */
header {
    /* background:aqua; */
    /* width:calc(100% - 200px); */ /* full */
    margin:0 auto; height:70px;
    display:flex; 
    justify-content:space-between;
    align-items: center;
    border-bottom:1px solid #c7c7c7;
    padding:0 100px;
}
/* header::after {
    content: ''; display: block;
    height: 1px; width: 100%;
    background: #c7c7c7;
} */
header h1 {width:160px;}
header h1 a {}
header h1 a img {width:100%;}
header nav {}
header nav .gnb {
    /* background:lime; */
    display:flex; flex-flow:row nowrap;
}
header nav .gnb li {}
header nav .gnb li a {font-size: 1.375rem; margin-right:50px;}
header nav .gnb li a:last-child {margin-right:0;}
header nav .gnb li > .sub1 {
    background:yellow;
    position:absolute;
    display: none;
}
header nav .gnb li > .sub1 > li {}
header nav .gnb li > .sub1 > li a {}
header nav .gnb li > .sub1 > li > .sub2 {
    background:orange; 
}
header nav .gnb li > .sub1 > li > .sub2 > li {}
header nav .gnb li > .sub1 > li > .sub2 > li > a {}
header nav .gnb li .sub_right {
    background:pink; display: none;
}
header nav .gnb li .sub_right a {
    display:block;
    width:250px;
}
header nav .gnb li .sub_right a img {width:100%;}
header .nav_right {/* background:lightcoral; */
    display:flex;
}
header .nav_right #map {font-size: 1.375rem;}
header .nav_right #search {margin-left:30px;}
header .nav_right #search img {}

/* footer */
footer {
    border-top:1px solid #c7c7c7;
    margin:0 auto;
    padding:0 100px;
    background: #f4f4f4;
}
footer .f_top {
    margin-top:25px;
    display:flex; justify-content: space-between;
}
footer .f_top .left {}
footer .f_top .left a {font-size: 1.063rem; color:#222;}
footer .f_top .left a::after {
    content:''; width:1px; height: 16px;
    background:#c7c7c7;
    display:inline-block;
    margin:0 20px;
}
footer .f_top .left a:last-child::after {display:none;}
footer .f_top .right {}
footer .f_top .right a {margin-left:30px;}
footer p {font-size: 1.063rem; margin:30px 0 25px; color:#222;}
footer .f_btm {display: flex; padding-bottom:80px;}
footer .f_btm p {margin-right:11px; color:#222;}
footer .f_btm a {}
footer .f_btm a img {}