/* main */
main {}
/* main-1 */
main .visual {/* background: lime; */
    height:100vh;
    background:url(../images/main_03.jpg);
    background-image:'default-image.jpg';
    background-size:cover;
    background-position: center;
}
main .visual > * {
    margin-left:100px;
    /* overflow: hidden;  */
    /* display: inline-block; */
    opacity: 0;
}
@keyframes slideup {
    0% {opacity: 0; transform:translateY(100%);}
    100% {opacity:1; transform:translateY(0)}
}
main .visual h1 {
    font-size:4.688rem; font-weight:700;
    line-height:100px; letter-spacing:-0.02em;
    margin-top:100px;
    margin-bottom:280px;
    animation:slideup 2s ease forwards;
    /* animation-fill-mode: forwards; */
}
main .visual p {
    font-size:2.5rem; font-weight:500;
    letter-spacing:-0.02em;
    margin-bottom: 80px;
    animation:slideup 1s 0.3s ease forwards;
}
main .visual #view {
    animation:slideup 1s 0.5s ease forwards;
}
/* 공통 적용 css */
main section #view {
    font-size:1.375rem; letter-spacing:-0.02em;
    margin-right:6px; padding:20px 30px;
    color:#222; border:1px solid #222;
    border-radius:50px;
    display: inline-block;
}
main section #view:hover {
    color:#fff;
    background:#E4485D;
    border:1px solid #E4485D;
}
main section #view .fa-solid {margin-left: 6px;}
main section p {font-size:1.375rem; letter-spacing:-0.02em;}
main section h2 {font-size:2.188rem; font-weight:500; letter-spacing:-0.02em;}
/* main-2 */
main .main_contents {
    height:700px;
    background:url(../images/banner_01.jpg) no-repeat;
    background-image:'default-image.jpg';
    background-size:cover;
    /* background-position:center; */
    background-position: 30% 0;
    text-align: center;
    /* position: relative; */
}
main .main_contents > * {
    padding-top: 480px;
}
main .main_contents h2 {padding:30px 0 25px; line-height: 1.2;}
/* main-3 */
main .sub_contents {display:flex;}
main .sub_contents > img {
    height: 100vh;
    /* max-width: 800px;  */
    width: 55%;
    height: auto;
    object-fit:cover;
}
main .sub_contents .right {
    margin-left: 110px;
    display: flex; flex-flow: column nowrap;
    align-items: flex-start; justify-content: center;
}
main .sub_contents .right p {}
main .sub_contents .right h2 {margin:100px 0 50px; line-height: 1.2;}
main > .best,
main > .lovers {
    max-width:1240px;
    width:calc(100% - 30px);
    margin: 0 auto;
}
main .best h2 {
    font-size:2.5rem; font-weight:500; 
    text-align: center;
    margin-top:100px;
    margin-bottom:45px;
}
main .best_contents {
    display:flex; justify-content: space-between;
    margin-bottom:80px;
    text-align: center;
}
main .best_contents .contents .content_txt {
    display:block;  
    text-align:center; line-height:29px; font-size:1.25rem;
    font-weight:500;
}
main .best .best_contents .contents {
    padding-top:360px;
}
main .best .best_contents .c1 {
    background:url(../images/best_01.jpg) no-repeat;
    background-position: 0 38%;
    background-size: contain;
}
main .best .best_contents .c2 {
    width: 490px;
    background:url(../images/best_02-1.jpg) no-repeat;
    background-position: 0 38%;
    background-size: contain;
}
main .best .best_contents .c3 {
    background:url(../images/best_03.jpg) no-repeat;
    background-position: 0 38%;
    background-size: contain;
}
main .best_contents .contents:hover {color:#E4485D;}
/* lovers */
main .lovers {}
main .lovers h2 {
    font-size:2.5rem; font-weight:500; 
    text-align: center;
    margin-top:80px;
    margin-bottom:50px;
}
main .lovers #lovers_slide {margin-bottom:100px;}
main .lovers #lovers_slide .swiper-wrapper {}
main .lovers #lovers_slide .swiper-wrapper .swiper-slide {
    /* 공통 slide 1~6 */
    width:295px; height:290px;
    position: relative;
    /* background-size: cover; */
    /* background-position: top center; */
    background-repeat: no-repeat;
}
main .lovers #lovers_slide .swiper-wrapper .swiper-slide .slide_txt {
    position: absolute;
    width:300px;
    font-size:1.063rem; letter-spacing:-0.02em;
    bottom:0; text-align: center;
    background:rgba(255,255,255,0.8);
    opacity:0; transition: opacity 0.5s linear;
}
main .lovers #lovers_slide .swiper-wrapper .swiper-slide:hover .slide_txt {
    opacity:1;
}
main .lovers #lovers_slide .swiper-wrapper .swiper-slide .slide_txt p {
    margin:10px 0; 
    text-align:center;
    font-size:1.063rem; line-height:25px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space:nowrap;
}
main .lovers #lovers_slide .swiper-wrapper .slide1 {
    background:url(../images/lover_01.png) top center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide2 {
    background:url(../images/lover_02.png) top center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide3 {
    background:url(../images/lover_03.jpg) center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide4 {
    background:url(../images/lover_04.jpg) center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide5 {
    background:url(../images/lover_05.jpg) center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide6 {
    background:url(../images/lover_06.jpg) center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide7 {
    background:url(../images/lover_07_1.png) center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-wrapper .slide8 {
    background:url(../images/lover_08.jpg) top center;
    background-size: cover;
}
main .lovers #lovers_slide .swiper-button-prev,
main .lovers #lovers_slide .swiper-button-next {
    width:27px; height:38px; 
}
main .lovers #lovers_slide .swiper-button-prev {
    background:url(../images/png/prev.png);
}
main .lovers #lovers_slide .swiper-button-next {
    background:url(../images/png/next.png);
}
main .lovers #lovers_slide .swiper-button-prev::after,
main .lovers #lovers_slide .swiper-button-next::after {display:none;}