main {}
main .visual_bg {
    background:url(../images/product_list_04.jpg) no-repeat;
    background-size:cover;
    height:500px;
}
main .visual {
    position: absolute;
    left: 165px;
    top: 180px;
}
main .visual h1 {
    font-size:2.813rem; font-weight:500;
    line-height:70px; letter-spacing:-0.02em;
    margin-bottom:70px;
}
main .visual p {font-size:1.625rem;}
main .product_warp {
    width:1240px;
    margin:0 auto;
    width:calc(100% - 30px);
}
main h2 {
    font-size:2.375rem; font-weight:500;
    text-align: center;
    margin:50px 0 40px;
}
main .p_wrap {
    display:flex; flex-flow:row wrap;
    justify-content: space-between;
}
main .p_wrap p {color:#7d7d7d;}
main .p_wrap .p_filter {display: flex; align-items: center;}
main .p_wrap .p_filter #select_box {}
main .p_wrap .p_filter #select_box .box_title {}
main .p_wrap .p_filter #select_box .box_title img {}
main .p_wrap .p_filter #select_box .box_contents {}
main .p_wrap .p_filter #select_box .box_contents li {}
main .p_wrap .p_filter #select_box .box_contents li button {}

main .p_wrap .p_filter #product_align {}
/* main .p_wrap .p_filter #product_align {
    margin-right:15px; padding:10px 20px;
}
main .p_wrap .p_filter #product_align option {} */
main .p_wrap .p_filter a {}
main .p_wrap .p_filter a img {margin-left:15px;}
/* item */
main .container {
    display:flex; flex-flow:row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}
main .container .item {}
main .container .item:hover .txt a p {
    text-decoration: underline;
    color:#E4485D;
}
main .container .item .box {width:380px;}
main .container .item .box .item_img img {width:100%;}
main .container .item .txt {}
main .container .item .txt a {}
main .container .item .txt a > p {}
main .container .item .txt a .name {
    font-size:1.375rem; font-weight:500;
}
main .container .item .txt a .detail {line-height:20px; margin:15px 0 20px;}
main .container .item .txt .color {}
main .container .item .txt .color span {
    display:inline-block; width:20px; height:20px;
    margin-right:4px;
}
main .container .item .txt .color .fetal {background:#f9dabd;}
main .container .item .txt .color .ivory {background:#dfb8a7;}
main .container .item .txt .color .beige {background:#f0bf9b;}
main .container .item .txt .color .sand {background:#f8cfa9;}
main .container .item .txt .color .warm {background:#e9b789;}