main {}
main .banner_bg {
    background:url(../images/product_list_04.jpg) no-repeat;
    background-image:'default-image.jpg';
    background-size:cover;
    height:500px;
}
main .banner {
    position: absolute;
    left: 165px;
    top: 180px;
}
main .banner h1 {
    font-size:2.813rem; font-weight:500;
    line-height:70px; letter-spacing:-0.02em;
    margin-bottom:70px;
}
main .banner p {font-size:1.625rem;}
main .product_warp {
    max-width:1240px;
    margin:0 auto;
    /* width:calc(100% - 30px); */
}
main h2 {
    font-size:2.375rem; font-weight:500;
    text-align: center;
    margin:50px 0 40px;
}
main .p_wrap {
    display:flex; flex-flow:row wrap;
    justify-content: space-between;
}
main .p_wrap p {color:#7d7d7d;}
main .p_wrap .p_filter {display: flex; align-items: center;}
main .p_wrap .p_filter .select_box {
    appearance:none;
    background:url(../images/png/down.png)no-repeat right 20px center;
    padding: 10px 0px 10px 20px;
}
main .p_wrap .p_filter .select_box option {}
main .p_wrap .p_filter a {}
main .p_wrap .p_filter a img {margin-left:15px;}
/* item */
main .container {
    display:flex; flex-flow:row wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    width:(33.33% - 100px / 3);
}
main .container .item {}
main .container .item:hover .txt a p {
    text-decoration: underline;
    color:#E4485D;
}
main .container .item .box {width:380px;}
main .container .item .box .item_img img {width:100%;}
main .container .item .txt {}
main .container .item .txt a {}
main .container .item .txt a > p {}
main .container .item .txt a .name {
    font-size:1.375rem; font-weight:500;
}
main .container .item .txt a .detail {line-height:20px; margin:15px 0 20px;}
main .container .item .txt .color {}
main .container .item .txt .color span {
    display:inline-block; width:20px; height:20px;
    margin-right:4px;
}
main .container .item .txt .color .fetal {background:#f9dabd;}
main .container .item .txt .color .ivory {background:#dfb8a7;}
main .container .item .txt .color .beige {background:#f0bf9b;}
main .container .item .txt .color .sand {background:#f8cfa9;}
main .container .item .txt .color .warm {background:#e9b789;}